font-family: 'Brygada 1918',
serif;
font-family: 'Inter',
sans-serif;
font-family: 'Lato',
sans-serif;
font-family: 'Merriweather',
serif;

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.btn-primary {
    padding: 10px 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner-section {
    background-image: url(../resources/Banner.png);
    height: 600px;
    border-radius: 16px;
    padding-top: 120px;
    background-repeat: no-repeat;
    text-align: center;

}

.banner-section h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 0 530px;

}

.banner-section h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    width: 600px;
    text-align: center;
    padding: 0 340px;
    margin-bottom: 150px;
}

/* hero-section */
.hero-section {
    text-align: center;
    margin: auto;
}

.hero-section h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.hero-section h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.hero-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}


/* Welcome section */
.welcome-section {
    background-image: url(../resources/Vectorrr.png);
    height: 600px;
    border-radius: 16px;
    padding-top: 80px;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.welcome-content {
    max-width: 500px;
    padding: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.welcome-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.welcome-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.welcome-img {
    width: 100%;
}

/* Places container */
.places {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.10);
    padding: 100px 300px;
    color: #070211;
    font-size: 25px;
    font-weight: 600;
}

.places-title {
    color: #F00;
    font-size: 25px;
    font-weight: 600;
}

/* BEST OFFER SECTION */
.best-offer-section {
    display: flex;
    justify-content: space-around;
    background-color: #e9e6e6;
    margin-top: 120px;
    align-items: center;
}

.best-offer-content {
    max-width: 350px;
}

.best-offer-content h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-content h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.best-offer-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.best-offer-img {
    border: 10px solid red;
    padding: 20px;
    border-radius: 50%;
}

.best-offer-2024 {
    align-items: center;
    max-width: 250px;
}

.best-offer-2024 h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

/* Holiday Offer Section */
.holiday-offer {
    text-align: center;
    background-color: #eeebeb;
    margin-top: 100px;
}

.holiday-offer h5 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holiday {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.holiday-offer h2 {
    color: #070211;
    font-size: 50px;
    font-weight: 900;
}

.holiday-offer p {
    max-width: 1000px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

/* DISCOUNT OFFER SECTION */
.discount-offer{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    position: relative;
}

/* .discount-offer-one{
    position: relative;
} */
.discount-offer-two{
    top: 50px;
    position: relative;
    right: 40px;
    
}
 
.discount-offer-three{
    margin-left: -215px;
}

.discount-offer-four{
    bottom: 235px;
    position: relative;
}
/* .discount-offer{
    position: relative;
} */